<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accounting Software</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/custom_style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
</head>

<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-3 is-uppercase has-text-black has-text-weight-bold is-family-sans-serif"
                    id="companyLogo"><i class="fa fa-address-book " aria-hidden="true"></i> Accountings</h1>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/dashboard" class="navbar-item">
                    <i class="far fa-chart-bar fa-fw"></i>
                    Dashboard
                </a>
                <a href="/client" class="navbar-item">
                  <i class="fas fa-users fa-fw"></i>
                    Clients
                </a>
                <a class="navbar-item">
                  <i class="fas fa-dollar-sign fa-fw"></i>
                     Expenses
                </a>
                <a class="navbar-item">
                  <i class="fas fa-file-invoice fa-fw"></i>
                    Invoices
                </a>
                <a class="navbar-item">
                  <i class="fas fa-box-open fa-fw"></i>
                     Inventory
                </a>
                <a class="navbar-item"><i class="fas fa-file-import fa-fw"></i> Reports</a>
            </div>

            <div class="navbar-end">
                <% if (user){ %>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-arrowless">
                        <span class="has-text-weight-bold is-size-4" id="username"><%= user.username %></span>
                        <span class="subtitle has-text-black">(<%=user.company%>)</span>
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            <span class="icon is-medium is-left">
                                <i class="fas fa-building"></i>
                            </span>
                            <strong>
                               Company Porfile
                            </strong>
                        </a>
                        <hr class="navbar-divider">

                        <a class="navbar-item">
                            <span class="icon is-medium is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <strong>
                                My Profile
                            </strong>
                        </a>
                        <hr class="navbar-divider">

                        <a class="navbar-item has-text-danger">
                            <span class="icon is-medium is-left">
                                <i class="fas fa-power-off"></i>
                            </span>
                            <strong>
                                Logout
                            </strong>
                        </a>

                    </div>
                </div>
                <% }else{ %>
                <div class="navbar-item">
                    <a href="/login" class="button is-info">Login</a>
                </div>
                <div class="navbar-item">
                    <a href="/signup" class="button ">SignUp</a>
                </div>
                <% } %>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container ">
