html {
    overflow: auto;
}

nav.navbar {
    padding: 0 10%;
}

#username + .subtitle {
    margin-left: 10px;
}

.form-heading {
    margin-bottom: 15px;
}

input.input, .select select, .datetimepicker-dummy-wrapper, textarea.textarea {
    background-color: rgb(250, 250, 250);
    border-radius: 10px 10px 0px 10px;
    height: 40px;
    box-shadow: 3px 3px 10px 0px #eee;
    border: none;
    border: 1px solid rgba(155, 155, 155, 0.486);
}


input.is-danger-input.input, select.is-danger-input {
    border: 2px solid red;
}
  

.select, .select select {
    width: 100%;
}

#countryCode {
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.button[type=submit] {
    border-radius: 20px 20px 0 20px;
    margin-top: 15px;
}


.pretty {
    margin-bottom: 20px;
}

.pretty .state label {
    font-weight: 500;
}

#quote {
    padding: 50px;
    text-align: center;
}

#quote p {
    font-weight: 100;
    font-size: 22px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

div.graph_card.columns {
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    box-shadow: 10px 20px 20px rgba(220, 220, 220, 0.4);
    padding: 10px 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    height: 200px;
}

.graph_card .column progress {
    height: 50px;
}

#progressMarkers {
    padding-left: 8px;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
    display: flex;
    justify-content: space-between;
}

.profit_card {
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    box-shadow: 10px 20px 20px rgba(220, 220, 220, 0.4);
    padding: 10px 20px;
    margin-bottom: 50px;
}

.profit_card canvas {
    margin-bottom: 45px;
}

.profit_card .columns .column .title {
    color: rgb(0, 153, 255);
}

.revenue_card {
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 20px;
    box-shadow: 10px 20px 20px rgba(220, 220, 220, 0.4);
    padding: 10px 20px;
    margin-bottom: 50px;
}

.has-text-blue {
    color: rgb(0, 153, 255);
}

.form-submit-buttons {
    margin-top: 1rem;
}


.form-submit-buttons button[type="submit"] {
    margin-top: 0;
}

.form-submit-buttons .column a {
    margin-left: 2.3rem;
    border-radius: 20px 20px 0 20px;
}

.is-scrollable tbody {
    display:block;
    overflow:auto;
    height: 500px;
    overflow-x: hidden;
}

.is-scrollable thead, tbody tr,tfoot {
    display:table;
    width:100%;
    table-layout:fixed;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

input.search{
    box-shadow:none;
    height: 45px;
}

nav.level{
  padding-bottom:30px;
  padding-top:30px;
}

div .tabs{
  padding-bottom: 50px;
  padding-top: 50px;
}
div .dash{
    padding-top: 0px;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

article.add{
  border-style: dashed;
  border-width: thin;
}
a.add{
  color: #23d160;
}
a.add:hover{
  color: #209cee;
}
.hover-effect{
  background: #209cee;
  color:#ffffff;
}
hr.tile-design{
  margin: 0px;
  border: 5px solid #23d160;
  background-color: #23d160;
}

#progress-bar-helper-text {
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

#outstanding-revenue-client {
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(220, 220, 220, 1);
}

.card.name-card {
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(220, 220, 220, 1);
}



a.box:hover div.box{

  border:1px solid #209cee;
}
a.box:hover{
  border:1px solid #209cee;
}
a.box:hover hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(32, 156, 238, 0.75), rgba(32, 156, 238, 0.5), rgba(32, 156, 238, 0.25));
}


#add-category-modal .modal-content {
    margin-top: -20%;
}

#add-category-modal-content {
    padding: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: auto;
}

#choose-client-modal .modal-content {
    margin-top: -20%;
}

#choose-client-modal-content {
    padding: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: auto;
}



th.report-header{
  background-color: #209cee;
  color: white;
}
tbody.report-body{
  height : 100px;
}
