<% include ./partials/header %>

<div class="columns is-vcentered">
    <div class="column">
        <h1 class="is-size-1 is-pulled-left">Client</h1>
    </div>
     <div class="column">
        <div class="dropdown is-right is-hoverable is-pulled-right">
            <div class="dropdown-trigger">
                <button class="button is-size-3 is-success is-rounded">
                    <span>New Client</span>
                    <span class="icon is-small">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- <div class="column">
    <h2 class="is-size-3">All Clients</h2>
</div>

<div class="column">
	<div class="box">

	</div>
</div> -->

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-3">
        <strong>All Clients</strong> 
      </p>
    </div>
  </div>
  <div class="level-right">
  	<div class="level-item">
      <div class="field has-addons">
		  <div class="control">
		    <input class="input is-large is-rounded" type="text" placeholder="Find a Client">
		    
		  </div>
		  <div class="control">
		    <a class="button is-info is-medium is-rounded">
		       Search
		    </a>
		  </div>
		</div>
    </div>
  </div>
</nav>

<nav class="panel">
	
</nav>

  

<% include ./partials/footer %>