<% include ./partials/header %>

<div class="columns is-vcentered">
    <div class="column">
        <h1 class="is-size-1 is-pulled-left">Client</h1>
    </div>
     <div class="column">
        <div class="dropdown is-right is-hoverable is-pulled-right">
            <div class="dropdown-trigger">
                <button class="button is-size-3 is-success is-rounded">
                    <span>New Client</span>
                    <span class="icon is-small">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<hr>


<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-3">
        <strong>All Clients</strong> 
      </p>
    </div>
  </div>
  <div class="level-right">
  	<div class="level-item">
      <div class="field has-addons">
		  <div class="control">
		    <input class="input is-large is-rounded" type="text" placeholder="Find a Client">
		    
		  </div>
		  <div class="control">
		    <a class="button is-info is-medium is-rounded">
		       Search
		    </a>
		  </div>
		</div>
    </div>
  </div>
</nav>
<div class="table-container">
	<table class="table is-fullwidth is-hoverable is-striped ">
	<thead class="is-size-5">
			<tr>
				<th>
					<label class="checkbox">
					  <input type="checkbox">
					</label>
				</th>
				<th>Organisation</th>
				<th>Address</th>
				<th>Contact Number</th>
				<th class = "num">Total Outstanding</th>
			</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label class="checkbox">
		    	  <input type="checkbox">
				</label>
			</td>
			<td>ABC</td>
			<td>2/A Cross Lane</td>
			<td>9713741939</td>
			<td>Rs 20000 INR</td>
		</tr>
		<tr>
			<td>
				<label class="checkbox">
		    	  <input type="checkbox">
				</label>
			</td>
			<td>ABC</td>
			<td>2/A Cross Lane</td>
			<td>9713741939</td>
			<td>Rs 20000 INR</td>
		</tr>
							
	</tbody>
		
	<tfoot class="is-size-5">
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th>Total Outstanding:  Rs 20000 INR</th>	
	</tfoot>
</table>
</div>




  

<% include ./partials/footer %>