<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Accounting Software</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login_style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        body {
            background: #ED213A;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        #oops {
            font-size: 4rem;
            color: red;
        }

        p {
            margin-top: -50px;
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="back-blur"></div>
            <div class="columns">
                <div class="column is-8 centerForm">
                    <div class="box has-background-white has-text-centered formContainer">
                        <h1 class="has-text-weight-bold" id="oops">OOPS</h1>
                        <p class="has-text-black is-size-5"><%=message%></p>
                        <a href="/dashboard" class="button is-rounded is-primary">Go To Homescreen</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>