<% include ../partials/header %>

<div class="columns is-vcentered">
    <div class="column">
        <h1 class="is-size-1 is-pulled-left">Reports</h1>
    </div>
     <div class="column">
        <div class="dropdown is-right is-hoverable is-pulled-right">
            <div class="dropdown-trigger">

            </div>
        </div>
    </div>
</div>

<h1 class = "is-size-3">Major Reports</h1>
<hr>

<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">

      <a href="/report/item-sold" class = "tile box">
        <div class="tile is-child box">
          <p class ="title">Items Sold</p>
          <hr>
          <p class = "subtitle">What are the items being sold by your organisation and in what quantity</p>
        </div>
      </a>

      <a href="/report/invoice-detail" class = "tile box">
        <div class="tile is-child box">
          <p class ="title">Invoice Details</p>
          <hr>
          <p class = "subtitle">Quickly access all the invoices generatedby you or for you</p>
        </div>
      </a>

  </div>

  <div class="tile is-6 is-vertical is-parent">
      <a href="/report/expense-report" class = "tile box">
        <div class="tile is-child box">
          <p class ="title">Expense Report</p>
          <hr>
          <p class = "subtitle">Keep yourself updated with all the expenses your company makes</p>
        </div>
      </a>

      <a href="/report/client-report" class = "tile box">
        <div class="tile is-child box">
          <p class ="title">Client Report</p>
          <hr>
          <p class = "subtitle">Take an overview of all your clients</p>
        </div>
      </a>

  </div>
</div>

<h1 class = "is-size-3">Payment Reports</h1>
<hr>

<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">
    <a href="/report/payment-pending" class = "tile box">
      <div class="tile is-child box">
          <p class="title">Payment Pending</p>
          <hr>
          <p class = "subtitle">See here the list of clients who owe you money</p>
      </div>
    </a>
  </div>

  <div class="tile is-6 is-vertical is-parent">
    <a href="/report/payment-received" class = "tile box">
      <div class="tile is-child box">
          <p class="title">Payment Received</p>
          <hr>
          <p class = "subtitle">Check which clients have already paid you</p>
      </div>
    </a>
  </div>

</div>


<h1 class = "is-size-3">Accounting Reports</h1>
<hr>
<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">
    <a href="/report/balance-sheet" class = "tile box">
      <div class="tile is-child box">
          <p class="title">Balance Sheet</p>
          <hr>
          <p class = "subtitle">Keep a balance between your assets, liability and equity</p>
      </div>
    </a>
    <a href="/report/profit-loss" class = "tile box">
      <div class="tile is-child box">
          <p class="title">Profit and Loss</p>
          <hr>
          <p class="subtitle">Check whether your company is earning or falling into debt</p>
      </div>
    </a>
</div>
<div class="tile is-parent">
  <a href="/report/general-ledger" class="tile box">
    <div class="tile is-child box">
        <p class = "is-size-1 title">General Ledger</p>
        <hr>
        <p class = "subtitle">Keep track of all your transactions at one place</p>
    </div>
  </a>
</div>
</div>
<div class = "tile is-ancestor">
  <div class="tile is-parent is-15">
    <a href="/report/trial-balance" class = "tile box">
      <div class="tile is-child box">
        <p class = "title">Trial Balance</p>
        <hr>
        <p class = "subtitle">What is the overall annual performance of your company</p>
      </div>
    </a>
  </div>
</div>

<% include ../partials/footer %>
