<% include ../partials/header %>

<div class="columns is-vcentered">
    <div class="column">
        <h1 class="is-size-1 is-pulled-left">Reports</h1>
    </div>
     <div class="column">
        <div class="dropdown is-right is-hoverable is-pulled-right">
            <div class="dropdown-trigger">

            </div>
        </div>
    </div>
</div>
<hr>


<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">One</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Two</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h1 class="title">General Ledger</h1>
      <div class="container">

      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
